@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f5fc;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Cambiar repeat(2, 1fr) por 1fr 1fr para tener dos columnas de ancho igual */
  grid-template-rows: auto 1fr auto; /* Usar 'auto' para las filas del header y footer */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh; /* Ajustar la altura total del grid, puedes cambiarla según tus necesidades */
  justify-items: center; /* Centrar horizontalmente en el centro del contenedor */
  align-items: center; /* Centrar verticalmente en el centro del contenedor */
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
  justify-self: start;
}
.div2 {
  grid-area: 3 / 1 / 4 / 3;
}
.div3 {
  grid-area: 2 / 1 / 3 / 2;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}

/* Establecer tamaños fijos para el header y footer */
.div1,
.div2 {
  height: 50px; /* Cambiar el valor según el tamaño deseado para el header y footer */
  width: 100%;
}

.div2 {
  margin-top: 20px;
}

.div4,
.div5 {
  margin-top: 140px;
}

.div4 {
  display: block;
}
.div5 {
  display: none;
}

/* Establecer tamaño fijo para el main */
.div3,
.div4,
.div5 {
  height: calc(
    100% - 100px
  ); /* Restar el tamaño del header y footer para obtener el tamaño del main */
}

.logo {
  width: 100%;
  height: 50px;
  position: relative;
  top: 24px;
  left: -28px;
}

.section__one-containerText {
  width: 343px;
  height: 251px;
  margin-top: 43px;
}

.boxText {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #0a3871;
  font-size: 32px;
  font-weight: 400;
}

.boxText::placeholder {
  color: #0a3871;
}

.boxText:focus {
  outline: 0 none;
}

.section__one-containerAlert {
  display: grid;
  color: #495057;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  margin-left: 10px;
  font-size: 12px;
  line-height: 18px;
  margin-top: 68px;
}

.section__one-containerAlert img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.section__one-containerButtons {
  gap: 24px;
  display: grid;
  justify-content: center;
  height: 158px;
  margin-top: 16px;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.btn-primary {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  background-color: #0a3871;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #072b61;
}

.btn-secundary {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  background-color: #fff;
  color: #0a3871;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #0a3871;
  cursor: pointer;
}

.btn-secundary:hover {
  background-color: #eff1fa;
}

.section__two {
  display: grid;
  justify-content: center;
  width: 328px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 32px;
}

.section__two-containerDoll {
  display: none;
}

.section__two-containerNotFound {
  margin: 32px;
}

.br {
  display: none;
}

.section__two-containerNotFound h3 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #343a40;
}

.section__two-containerNotFound p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #495057;
  padding-top: 20px;
}

.section__three {
  display: grid;
  justify-content: center;
  width: 328px;
  gap: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 32px;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.section__three-containerResults {
  width: 279px;
}

.section__three-containerResults p {
  font-weight: 400;
  text-align: center;
  color: #495057;
  padding-top: 20px;
}

.section__three-containerBtnCopy {
  padding: 0 32px 32px 32px;
}

.btn-copy {
  padding: 24px;
  width: 278px;
  height: 67px;
  border-radius: 24px;
  background-color: #fff;
  color: #0a3871;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #0a3871;
  cursor: pointer;
}

.btn-copy:hover {
  background-color: #eff1fa;
}

.textResults {
  color: #495057;
  font-size: 25px;
}

footer {
  padding: 16px;
  display: grid;
  align-items: center;
  justify-items: center;
  background: transparent;
  color: #072b61;
}

.ocultar {
  display: none;
}
.mostrar {
  display: block;
}

@media (min-width: 320px) and (max-width: 425px) {
  .parent {
    grid-template-columns: 1fr; /* Cambiar a una sola columna en dispositivos móviles */
    grid-template-rows: auto auto auto auto auto; /* Establecer filas automáticas para que se ajusten al contenido */
  }

  /* Resetear el grid-template-areas en dispositivos móviles */
  .div1,
  .div2,
  .div3,
  .div4,
  .div5 {
    grid-area: auto / auto / auto / auto;
  }

  /* Establecer nuevo orden para los divs en dispositivos móviles */
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  } /* Mover el header a la primera fila y primera columna */
  .div2 {
    grid-area: 5 / 1 / 6 / 2;
  } /* Mover el footer a la última fila */
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  } /* Mover el div3 a la tercera fila y primera columna */
  .div4,
  .div5 {
    grid-area: 4 / 1 / 5 / 2;
  } /* Dividir el espacio del main en dos filas */

  .logo {
    width: 100%;
    height: 50px;
    position: relative;
    top: 24px;
    left: -28px;
    padding-top: 0;
    padding-left: 0;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .parent {
    grid-template-columns: 1fr; /* Cambiar a una sola columna en dispositivos móviles */
    grid-template-rows: auto auto auto auto auto; /* Establecer filas automáticas para que se ajusten al contenido */
  }

  /* Resetear el grid-template-areas en dispositivos móviles */
  .div1,
  .div2,
  .div3,
  .div4,
  .div5 {
    grid-area: auto / auto / auto / auto;
  }

  /* Establecer nuevo orden para los divs en dispositivos móviles */
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  } /* Mover el header a la primera fila y primera columna */
  .div2 {
    margin-top: 20px;
    grid-area: 5 / 1 / 6 / 2;
  } /* Mover el footer a la última fila */
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  } /* Mover el div3 a la tercera fila y primera columna */
  .div4,
  .div5 {
    grid-area: 4 / 1 / 5 / 2;
  } /* Dividir el espacio del main en dos filas */

  .logo {
    width: 100%;
    height: 50px;
    position: relative;
    top: 75px;
    left: 0;
  }

  .section__one-containerText {
    width: 688px;
    height: 590px;
    margin-top: 145px;
  }

  .section__one-containerButtons {
    grid-auto-flow: column;
    margin-top: unset;
    height: unset;
  }

  .section__one-containerAlert {
    margin-bottom: 18px;
    margin-top: unset;
  }

  .section__two {
    width: 688px;
  }
}

@media (min-width: 769px) and (max-width: 2560px) {
  .logo {
    width: 100%;
    height: 50px;
    position: relative;
    top: 40px;
    left: 108px;
  }
  .div3 {
    margin-left: 302px;
    margin-right: 88px;
  }
  
  .div2 {
  margin-top: 100px;
  }

  .div4,
  .div5 {
    margin-top: -80px;
    margin-bottom: 40px;
  }
  .section__one-containerText {
    width: 660px;
    height: 710px;
    margin-top: 43px;
  }
  .section__one-containerButtons {
    grid-auto-flow: column;
    margin-top: unset;
    height: unset;
  }
  .section__one-containerAlert {
    margin-top: unset;
    margin-left: unset;
    margin-bottom: 18px;
  }

  .section__two {
    width: 400px;
    height: 944px;
    align-content: center;
    align-items: center;
    justify-items: center;
  }
  .section__two-containerDoll {
    display: block;
  }

  .section__three {
    width: 400px;
    align-content: space-between;
    height: 944px;
  }

  .section__three-containerResults {
    width: 279px;
    display: grid;
    justify-items: start;
    justify-content: start;
  }

  .section__three-containerResults p {
    line-height: 36px;
  }
}

/* Media query para dispositivos móviles */
